<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Korisnik</title>
    
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
</head>

<body id="app">
    <korisnik-form v-on:sacuvaj="create" v-bind:tekst="'Dodaj'"></korisnik-form>
    <korisnik-form v-bind:korisnik="korisnikZaIzmenu" v-bind:tekst="'Izmeni'"  v-on:sacuvaj="update"></korisnik-form>

    <korisnik-tabela v-bind:korisnici="korisnici" v-on:uklanjanje="remove" v-on:izmena="setKorisnikZaIzmenu"></korisnik-tabela>
    

    <script>
        const Korisnik = {
            data(){
                return {
                    korisnici:[],
                    korisnikZaIzmenu:{}
                }
            },
            methods:{
                setKorisnikZaIzmenu(korisnik){ //skladistenje nakon izmene//
                    this.korisnikZaIzmenu = {...korisnik};
                },

                refreshData(){
                     //saljem this van funkcije da obuhvata sve//
                    axios.get("api/korisnici").then((response) => {
                        this.korisnici = response.data;
                    });
                },
                //dodavanje//
                create(korisnik){
                    axios.post("api/korisnici", korisnik).then((response) => {
                        this.refreshData();
                    });
                },
                //izmena//
                update(korisnik){
                    axios.put(`api/korisnici/${korisnik.id}`, korisnik).then((response) => {
                        this.refreshData();
                    });
                },
                //brisanje//
                remove(id){
                    axios.delete(`api/korisnici/${id}`).then((response) => {
                        this.refreshData();
                    });
                }
            },
            created(){
                this.refreshData();
            }
        }
        const KorisnikForma = {
            props: ["korisnik", "tekst"],
            emits: ["sacuvaj"],
            data(){
                return{
                    noviKorisnik: this.korisnik ? this.korisnik : {}
                }
            },
            watch: {
                korisnik : function(newValue, oldValue){
                    this.noviKorisnik = {...this.korisnik}
                }
            },
            template: `
    <form v-on:submit.prevent="$emit('sacuvaj', {...noviKorisnik})">
        <h1></h1>
        <div>
            <label>Ime:</label>
            <input type="text" v-model="noviKorisnik.ime" required>
        </div>
        <div>
            <label>Prezime:</label>
            <input type="text" v-model="noviKorisnik.prezime" required>
        </div>
        <div>
            <label>Zanimanje:</label>
            <input type="text" v-model="noviKorisnik.zanimanje" required>
        </div>
        <div>
            <label>ID-Nike:</label>
            <input type="number" v-model="noviKorisnik.nike_id" required>
        </div>
        <div>
            <label>Auto-tablice:</label>
            <input type="text" v-model="noviKorisnik.auto_tablice" required>
        </div>
        
        <div>
            <input type="submit" v-bind:value="tekst">
        </div>
    </form>
            `
        }

        const TabelaKorisnik = {
            props: ["korisnici"],
            emits: ["izmena", "uklanjanje"],

            data(){
                return{}
            },
            template: `
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Zanimanje</th>
                <th>ID-Nike</th>
                <th>Auto-tablice</th>
                <th>Akcije</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="korisnik in korisnici">
                <td>{{korisnik.id}}</td>
                <td>{{korisnik.ime}}</td>
                <td>{{korisnik.prezime}}</td>
                <td>{{korisnik.zanimanje}}</td>
                <td>{{korisnik.nike_id}}</td>
                <td>{{korisnik.auto_tablice}}</td>

                <td><button v-on:click="$emit('uklanjanje', korisnik.id)">Ukloni</button>
                    <button v-on:click="$emit('izmena', {...korisnik})">Izmena</button>
                </td>
            </tr>
        </tbody>
    </table>
            `
        }


        const app = Vue.createApp(Korisnik);
        app.component('korisnik-tabela', TabelaKorisnik);
        app.component('korisnik-form', KorisnikForma);
        app.mount("#app");
    </script>
</body>
</html>