<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
   
    <title>Radnik</title>
     <!-- <vue> -->
    <script src="https://unpkg.com/vue@next"></script>

        <!-- <axios> -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
</head>

<body id="app">

    <radnik-form v-on:sacuvaj="create" v-bind:tekst="'Dodaj'"></radnik-form>
    <radnik-form v-bind:radnik="radnikZaIzmenu" v-bind:tekst="'Izmeni'" v-on:sacuvaj="update"></radnik-form>

    <tabela-radnika v-bind:radnici="radnici" v-on:uklanjanje="remove" v-on:izmena="setRadnikZaIzmenu"></tabela-radnika>
  
    <script>
        const Radnik = {
            data(){
                return {
                    radnici:[],
                    radnikZaIzmenu:{}
                }
            },
            methods:{
                setRadnikZaIzmenu(radnik){ //skladistenje nakon izmene//
                    this.radnikZaIzmenu = {...radnik};
                },

                refreshData(){
                     //saljem this van funkcije da obuhvata sve//
                    axios.get("api/radnici").then((response) => {
                        this.radnici = response.data;
                    });
                },
                //dodavanje//
                create(radnik){
                    axios.post("api/radnici", radnik).then((response) => {
                        this.refreshData();
                    });
                },
                //izmena//
                update(radnik){
                    axios.put(`api/radnici/${radnik.id}`, radnik).then((response) => {
                        this.refreshData();
                    });
                },
                //brisanje//
                remove(id){
                    axios.delete(`api/radnici/${id}`).then((response) => {
                        this.refreshData();
                    });
                }
            },
            created(){
                this.refreshData();
            }
        }

        const RadnikForma = {
            props: ["radnik", "tekst"],
            emits : ["sacuvaj"],
            data(){
                return{
                    noviRadnik: this.radnik ? this.radnik : {}
                }
            },
//izmena i setovanje izmene 1 nacin//
            // computed:{
            //     radnikZaIzmenu: {
            //         get : function(){
            //             return {...this.radnik};
            //         },
            //         set: function(novi){
            //             this.noviRadnik = {...novi};
            //         }
            //     }
            // },

            watch: {
                radnik: function(newValue, oldValue){
                    this.noviRadnik = {...this.radnik};
                }
                
            },
            template:  `
    <form v-on:submit.prevent="$emit('sacuvaj', {...noviRadnik})">
    <h1></h1>
        <div>
            <label>Ime: </label>
            <input type="text" v-model="noviRadnik.ime" required></div>
        <div>
            <label>Prezime: </label>
            <input type="text" v-model="noviRadnik.prezime" required></div>
        <div>
            <label>E-mail: </label>
            <input type="email" v-model="noviRadnik.email" required></div>
        
        <div>
            <input type="submit" v-bind:value="tekst">
        </div>
    </form>
            `
        
        }

        const TabelaRadnika = {
            props: ["radnici"],
            emits:["izmena", "uklanjanje"],

            data(){
                return{}
            },
            template: `
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Ime</th>
                <th>Prezime</th>
                <th>E-mail</th>
                <th>Akcije</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="radnik in radnici">
                <td>{{radnik.id}}</td>
                <td>{{radnik.ime}}</td>
                <td>{{radnik.prezime}}</td>
                <td>{{radnik.email}}</td>
                <td><button v-on:click="$emit('uklanjanje', radnik.id)">Ukloni</button>
                    <button v-on:click="$emit('izmena', {...radnik})">Izmena</button>
                </td>
            </tr>
        </tbody>
    </table>
            `
        }

        const app = Vue.createApp(Radnik);
        app.component('tabela-radnika', TabelaRadnika);
        app.component('radnik-form', RadnikForma);

        app.mount("#app");
    </script>
</body>
</html>