<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
   
    <title>Radnici</title>
     <!-- <vue> -->
    <script src="https://unpkg.com/vue@next"></script>

        <!-- <axios> -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
</head>

<body id="app">
    <p>-Izaberite entitet:</p>
    <div>
        <button v-on:click="navigate('radnik')">Radnik</button>
        <button v-on:click="navigate('radnoMesto')">Radno mesto</button>
        <button v-on:click="navigate('angazovanje')">Angazovanje</button>

    </div>
    <div v-if="stranicaZaPrikaz=='radnik'">
        <radnik-form v-bind:naslov="'Dodaj radnika'" v-on:sacuvaj="createRadnik" v-bind:dugme="'Dodaj'"></radnik-form>
        <radnik-form v-bind:naslov="'Izmeni radnika'" v-bind:radnik="radnikZaIzmenu" v-bind:dugme="'Izmeni'" v-on:sacuvaj="updateRadnik"></radnik-form>

        <tabela-radnika v-bind:radnici="radnici" v-on:uklanjanje="removeRadnik" v-on:izmena="setRadnikZaIzmenu"></tabela-radnika>
    </div>
    
    <div v-if="stranicaZaPrikaz=='radnoMesto'">
        <radno-mesto-form v-bind:naslov="'Dodaj radno mesto'"  v-on:sacuvaj="createRadnoMesto" v-bind:dugme="'Dodaj'"></radno-mesto-form>
        <radno-mesto-form v-bind:naslov="'Izmeni radno mesto'" v-bind:mesto="mestoZaIzmenu" v-bind:dugme="'Izmeni'" v-on:sacuvaj="updateRadnoMesto"></radno-mesto-form>

        <tabela-radnog-mesta v-bind:radna-mesta="radnaMesta" v-on:uklanjanje="removeRadnoMesto" v-on:izmena="setMestoZaIzmenu"></tabela-radnog-mesta>
    </div>

    <div v-if="stranicaZaPrikaz=='angazovanje'">
        <angazovanje-form v-bind:naslov="'Dodaj angazovanje'" v-on:sacuvaj="createAngazovanje" v-bind:dugme="'Dodaj'"></angazovanje-form>
        <angazovanje-form v-bind:naslov="'Izmeni angazovanje'" v-bind:angaz="angazovanjeZaIzmenu" v-bind:dugme="'Izmeni'" v-on:sacuvaj="updateAngazovanje"></angazovanje-form>

        <tabela-angazovanja v-bind:angazovanje="angazovanje" v-on:uklanjanje="removeAngazovanje" v-on:izmena="setAngazovanjeZaIzmenu"></tabela-angazovanja>
    </div>

    <script src="app/app.js" type="module"></script>
</body>
</html>