<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Nike</title>
    
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
</head>

<body id="app">
    <nike-form v-on:sacuvaj="create" v-bind:tekst="'Dodaj'"></nike-form>
    <nike-form v-bind:nike="nikeZaIzmenu" v-bind:tekst="'Izmeni'" v-on:sacuvaj="update"></nike-form>

    <nike-tabela v-bind:nikeShop="nikeShop" v-on:uklanjanje="remove" v-on:izmena="setNikeZaIzmenu"></nike-tabela>
    

    <script>
        const Nike = {
            data(){
                return {
                    nikeShop:[],
                    nikeZaIzmenu:{}
                }
            },
            methods:{
                setNikeZaIzmenu(nike){ //skladistenje nakon izmene//
                    this.nikeZaIzmenu = {...nike};
                },

                refreshData(){
                     //saljem this van funkcije da obuhvata sve//
                    axios.get("api/nike").then((response) => {
                        this.nikeShop = response.data;
                    });
                },
                //dodavanje//
                create(nike){
                    axios.post("api/nike", nike).then((response) => {
                        this.refreshData();
                    });
                },
                //izmena//
                update(nike){
                    axios.put(`api/nike/${nike.id}`, nike).then((response) => {
                        this.refreshData();
                    });
                },
                //brisanje//
                remove(id){
                    axios.delete(`api/nike/${id}`).then((response) => {
                        this.refreshData();
                    });
                }
            },
            created(){
                this.refreshData();
            }
        }
        const NikeForma = {
            props: ["nike", "tekst"],
            emits: ["sacuvaj"],
            data(){
                return{
                    noviNike: this.nike ? this.nike : {}
                }
            },
            watch: {
                nike : function(newValue, oldValue){
                    this.noviNike = {...this.nike}
                }
            },
            template: `
    <form v-on:submit.prevent="$emit('sacuvaj', {...noviNike})">
        <h1></h1>
        <div>
            <label>Odeca:</label>
            <input type="text" v-model="noviNike.odeca" required>
        </div>
        <div>
            <label>Obuca:</label>
            <input type="text" v-model="noviNike.obuca" required>
        </div>
        <div>
            <label>Velicina:</label>
            <input type="text" v-model="noviNike.velicina" required>
        </div>
        
        <div>
            <input type="submit" v-bind:value="tekst">
        </div>
    </form>
            `
        }

        const TabelaNike = {
            props: ["nikeShop"],
            emits: ["izmena", "uklanjanje"],

            data(){
                return{}
            },
            template: `
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Odeca</th>
                <th>Obuca</th>
                <th>Velicina</th>
                <th>Akcije</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="nike in nikeShop">
                <td>{{nike.id}}</td>
                <td>{{nike.odeca}}</td>
                <td>{{nike.obuca}}</td>
                <td>{{nike.velicina}}</td>
                <td><button v-on:click="$emit('uklanjanje', nike.id)">Ukloni</button>
                    <button v-on:click="$emit('izmena', {...nike})">Izmena</button>
                </td>
            </tr>
        </tbody>
    </table>
            `
        }


        const app = Vue.createApp(Nike);
        app.component('nike-tabela', TabelaNike);
        app.component('nike-form', NikeForma);
        app.mount("#app");
    </script>
</body>
</html>