<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<form action="/korisnik?oznaka={{korisnik.oznaka}}" method="POST"></form>
<body>
    <ul>
        <li>{{korisnik.oznaka}}</li>
        <li>{{korisnik.ime}}</li>
        <li>{{korisnik.prezime}}</li>
        <li>{{korisnik.br_telefona}}</li>
        
    </ul>
</body>
</html>