<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<form action="/listaKupovine?broj={{kupovina.broj}}" method="POST"></form>
<body>
    <ul>
        <li>{{kupovina.kolicina}}</li>
        <li>{{kupovina.cena}}</li>
        <li>{{kupovina.datum}}</li>
        <li>{{kupovina.kupac_id}}</li>
        <li>{{kupovina.proizvod_id}}</li>

    </ul>
</body>
</html>