<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>      
    <h2>-Formular izmene-</h2>                          
    <form action="/izmenaKarte?id={{id}}" method="POST">
        <div>
            <label for="id">Id</label>
            <input name="id" id="id" type="text" value="{{id}}" required />
        </div>
        <div>
            <label for="naziv">Naziv projekcije</label>
            <input name="naziv" id="naziv" type="text" value="{{naziv}}" required />
        </div>
        <div>
            <label for="pocetak">Datum i vreme pocetka</label>
            <input name="pocetak" id="pocetak" type="datetime-local" value={{pocetak}} required />
        </div>
        <div>
            <label for="zavrsetak">Datum i vreme zavrsetka</label>
            <input name="zavrsetak" id="zavrsetak" type="datetime-local" value={{zavrsetak}} required />
        </div>
        <div>
            <label for="br_sedista">Broj sedista</label>
            <input name="br_sedista" id="br_sedista" type="number" value={{br_sedista}} required />
        </div>
        <div>
            <input type="submit" value="Izmeni">
        </div>
    </form>
</body>

</html