<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <a href="/blagajna.html">Unos karte</a>
    <table>
        <tr>
            <th>Id</th>
            <th>Cena</th>
            <th>Id karte</th>
            
            <th>Akcije</th>
        </tr>
        {% for b in blagajna %}
        <tr {% if b.obrisan %}class="deleted"{% endif %}>
           
            <td><a href="blagajna?id={{b.id}}">{{b["id"]}}</a></td>
            <td>{{b.cena}}</td>
            <td>{{b.karta_id}}</td>
            
            <td>
                <a href="ukloniBlagajnu?id={{b.id}}">Ukloni</a>
                <a href="izmeniBlagajnuForma?id={{b.id}}">Izmeni</a>
            </td>
        </tr>
        {% endfor %}
   
    </table>
</body>
</html>