<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>      
    <h2>-Formular izmene-</h2>                          
    <form action="/izmeniKartuForma?id={{karta.id}}" method="POST">
        <div>
            <label for="id">Id</label>
            <input name="id" id="id" type="text" value="{{karta.id}}" required />
        </div>
        <div>
            <label for="naziv_projekcije">Naziv projekcije</label>
            <input name="naziv_projekcije" id="naziv_projekcije" type="text" value="{{karta.naziv_projekcije}}" required />
        </div>
        <div>
            <label for="pocetak">Pocetak</label>
            <input name="pocetak" id="pocetak" type="datetime-local" value="{{karta.pocetak}}" required />
        </div>
        <div>
            <label for="kraj">Zavrsetak</label>
            <input name="kraj" id="kraj" type="datetime-local" value="{{karta.kraj}}" required />
        </div>
        <div>
            <label for="br_sedista">Broj sedista</label>
            <input name="br_sedista" id="br_sedista" type="number" value="{{karta.br_sedista}}" required />
        </div>
        <div>
            <input type="submit" value="Izmeni">
        </div>
    </form>
</body>

</html