<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <h2>-Popuni formular-</h2>
    <form action="/izmeniBlagajnuForma?id={{blagajna.id}}" method="POST">
        <div>
            <label for="id">Id</label>
            <input name="id" id="id" type="number" value="{{blagajna.id}}" required />
        </div>
        <div>
            <label for="cena">Cena</label>
            <input name="cena" id="cena" type="number" value="{{blagajna.cena}}" required />
        </div>
        <div>
            <label>ID Karte</label>
            <select name="karta_id">
                {% for k in karta %}
                <option value="{{k["id"]}}">{{k["naziv_projekcije"]}}, {{k["pocetak"]}}, {{k["br_sedista"]}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <input type="submit" value="Dodaj">
        </div>
    </form>
</body>

</html>