<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
    <form action="/karta?id={{karta.id}}" method="POST"></form>
    <ul>
        <li>{{karta.id}}</li>
        <li>{{karta.naziv_projekcije}}</li>
        <li>{{karta.pocetak}}</li>
        <li>{{karta.kraj}}</li>
        <li>{{karta.br_sedista}} = Broj sedista</li>
    </ul>
</body>
</html>