<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
   
    <title>Iznajmljivanje</title>
     <!-- <vue> -->
    <script src="https://unpkg.com/vue@next"></script>

        <!-- <axios> -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
</head>
 <!-- Verzija sa componentama. -->
<body id="app">

    <iznajmljivanje-form v-on:sacuvaj="create" v-bind:naslov="'Dodaj iznajmljivanje'" v-bind:dugme="'Dodaj'"></iznajmljivanje-form>
    <iznajmljivanje-form v-bind:iznajmiti="iznajmljivanjeZaIzmenu" v-bind:naslov="'Izmeni iznajmljivanje'" v-bind:dugme="'Izmeni'" v-on:sacuvaj="update"></iznajmljivanje-form>

    <tabela-iznajmljivanja v-bind:naslov="'Tabela iznajmljivanja'" v-bind:iznajmljivanje="iznajmljivanje" v-on:uklanjanje="remove" v-on:izmena="setIznajmljivanjeZaIzmenu"></tabela-iznajmljivanja>
  
    <script>
        const Iznajmljivanje = {
            data(){
                return {
                    iznajmljivanje:[],
                    iznajmljivanjeZaIzmenu:{}
                }
            },
            methods:{
                setIznajmljivanjeZaIzmenu(iznajmiti){ //skladistenje nakon izmene//
                    this.iznajmljivanjeZaIzmenu = {...iznajmiti};
                },

                refreshData(){
                     //saljem this van funkcije da obuhvata sve//
                    axios.get("api/iznajmljivanje").then((response) => {
                        this.iznajmljivanje = response.data;
                    });
                },
                //dodavanje//
                create(iznajmiti){
                    axios.post("api/iznajmljivanje", iznajmiti).then((response) => {
                        this.refreshData();
                    });
                },
                //izmena//
                update(iznajmiti){
                    axios.put(`api/iznajmljivanje/${iznajmiti.IDIznajmljivanje}`, iznajmiti).then((response) => {
                        this.refreshData();
                    });
                },
                //brisanje//
                remove(IDIznajmljivanje){
                    axios.delete(`api/iznajmljivanje/${IDIznajmljivanje}`).then((response) => {
                        this.refreshData();
                    });
                }
            },
            created(){
                this.refreshData();
            }
        }

        const IznajmljivanjeForma = {
            props: ["iznajmiti", "dugme", "naslov"],
            emits : ["sacuvaj"],
            data(){
                return{
                    novaIznajmljivanja: this.iznajmiti ? this.iznajmiti : {}
                }
            },
//izmena i setovanje izmene 1 nacin//
            // computed:{
            //     iznajmljivanjeZaIzmenu: {
            //         get : function(){
            //             return {...this.iznajmiti};
            //         },
            //         set: function(novi){
            //             this.novaIznajmljivanja = {...novi};
            //         }
            //     }
            // },

            watch: {
                iznajmiti: function(newValue, oldValue){
                    this.novaIznajmljivanja = {...this.iznajmiti};
                }
                
            },
            template:  `
    <form v-on:submit.prevent="$emit('sacuvaj', {...novaIznajmljivanja})">
        <h1>-{{naslov}}</h1>
        <div>
            <label>ID-Kupac: </label>
            <input type="number" v-model="novaIznajmljivanja.IDKupac" required></div>
        <div>
            <label>ID-Knjiga: </label>
            <input type="number" v-model="novaIznajmljivanja.IDKnjiga" required></div>
        <div>
            <label>Kolicina: </label> 
            <input type="number" v-model="novaIznajmljivanja.kolicina" required></div>
        <div>
            <label>Nacin placanja: </label> 
            <input type="text" v-model="novaIznajmljivanja.nacinPlacanja" required></div>
        <div>
            <label>Valuta: </label> 
            <input type="text" v-model="novaIznajmljivanja.valuta" required></div>
        <div>
            <label>Period iznajmljivanja: </label> 
            <input type="text" v-model="novaIznajmljivanja.periodIznajmljivanja" required></div>
        <div>
            <label>Datum porudzbine: </label> 
            <input type="date" v-model="novaIznajmljivanja.datumPorudzbine" required></div>
        
        <div>
            <input type="submit" v-bind:value="dugme">
        </div>
    </form>
            `
        
        }

        const TabelaIznajmljivanja = {
            props: ["iznajmljivanje", "naslov"],
            emits:["izmena", "uklanjanje"],

            data(){
                return{}
            },
            template: `
    <h1>{{naslov}}</h1>
    <table>
        <thead>
            <tr>
                <th>ID-Iznajmljivanje</th>
                <th>ID-Kupac</th>
                <th>ID-Knjiga</th>
                <th>Kolicina</th>
                <th>Nacin placanja</th>
                <th>Valuta</th>
                <th>Period iznajmljivanja</th>
                <th>Datum porudzbine</th>
                <th>Akcije</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="iznajmiti in iznajmljivanje">
                <td>{{iznajmiti.IDIznajmljivanje}}</td>
                <td>{{iznajmiti.IDKupac}}</td>
                <td>{{iznajmiti.IDKnjiga}}</td>
                <td>{{iznajmiti.kolicina}}</td>
                <td>{{iznajmiti.nacinPlacanja}}</td>
                <td>{{iznajmiti.valuta}}</td>
                <td>{{iznajmiti.periodIznajmljivanja}}</td>
                <td>{{iznajmiti.datumPorudzbine}}</td>
                <td><button v-on:click="$emit('uklanjanje', iznajmiti.IDIznajmljivanje)">Ukloni</button>
                    <button v-on:click="$emit('izmena', {...iznajmiti})">Izmena</button>
                </td>
            </tr>
        </tbody>
    </table>
            `
        }

        const app = Vue.createApp(Iznajmljivanje);
        app.component('tabela-iznajmljivanja', TabelaIznajmljivanja);
        app.component('iznajmljivanje-form', IznajmljivanjeForma);

        app.mount("#app");
    </script>
</body>
</html>