<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
   
    <title>Iznajmljivanje</title>
     <!-- <vue> -->
    <script src="https://unpkg.com/vue@next"></script>

        <!-- <axios> -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
</head>

<body id="app">
    <form v-on:submit.prevent="create()">
        <h1>-Dodaj iznajmljivanje</h1>
        <div>
            <label>ID-Kupac: </label>
            <input type="number" v-model="novaIznajmljivanja.IDKupac" required></div>
        <div>
            <label>ID-Knjiga: </label>
            <input type="number" v-model="novaIznajmljivanja.IDKnjiga" required></div>
        <div>
            <label>Kolicina: </label>
            <input type="number" v-model="novaIznajmljivanja.kolicina" required></div>
        <div>
            <label>Nacin placanja: </label>
            <input type="text" v-model="novaIznajmljivanja.nacinPlacanja" required>
        </div>
        <div>
            <label>Valuta: </label>
            <input type="text" v-model="novaIznajmljivanja.valuta" required>
        </div>
        <div>
            <label>Period iznajmljivanja: </label>
            <input type="text" v-model="novaIznajmljivanja.periodIznajmljivanja" required>
        </div>
        <div>
            <label>Datum porudzbine: </label>
            <input type="datetime-local" v-model="novaIznajmljivanja.datumPorudzbine" required>
        </div>
        <div>
            <input type="submit" value="Dodaj">
        </div>
    </form>
    <hr>
    <form v-on:submit.prevent="update()">
        <h1>-Izmena porudzbine</h1>
        <div>
            <label>ID-Kupac: </label>
            <input type="number" v-model="iznajmljivanjeZaIzmenu.IDKupac" required></div>
        <div>
            <label>ID-Knjiga: </label>
            <input type="number" v-model="iznajmljivanjeZaIzmenu.IDKnjiga" required></div>
        <div>
            <label>Kolicina: </label>
            <input type="number" v-model="iznajmljivanjeZaIzmenu.kolicina" required></div>
        <div>
            <label>Nacin placanja: </label>
            <input type="text" v-model="iznajmljivanjeZaIzmenu.nacinPlacanja" required>
        </div>
        <div>
            <label>Valuta: </label>
            <input type="text" v-model="iznajmljivanjeZaIzmenu.valuta" required>
        </div>
        <div>
            <label>Period iznajmljivanja: </label>
            <input type="text" v-model="iznajmljivanjeZaIzmenu.periodIznajmljivanja" required>
        </div>
        <div>
            <label>Datum porudzbine: </label>
            <input type="datetime-local" v-model="iznajmljivanjeZaIzmenu.datumPorudzbine" required>
        </div>
        <div>
            <input type="submit" value="Izmeni">
        </div>
    </form>
    <hr>
    <table>
        <thead>
            <tr>
                <th>ID-Iznajmljivanje</th>
                <th>ID-Kupac</th>
                <th>ID-Knjiga</th>
                <th>Kolicina</th>
                <th>Nacin placanja</th>
                <th>Valuta</th>
                <th>Period iznajmljivanja</th>
                <th>Datum porudzbine</th>
                <th>Akcije</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="iznajmiti in iznajmljivanje">
                <td>{{iznajmiti.IDIznajmljivanje}}</td>
                <td>{{iznajmiti.IDKupac}}</td>
                <td>{{iznajmiti.IDKnjiga}}</td>
                <td>{{iznajmiti.kolicina}}</td>
                <td>{{iznajmiti.nacinPlacanja}}</td>
                <td>{{iznajmiti.valuta}}</td>
                <td>{{iznajmiti.periodIznajmljivanja}}</td>
                <td>{{iznajmiti.datumPorudzbine}}</td>
                <td><button v-on:click="remove(iznajmiti.IDIznajmljivanje)">Ukloni</button>
                    <button v-on:click="setIznajmljivanjeZaIzmenu(iznajmiti)">Izmena</button>
                </td>
            </tr>
        </tbody>
    </table>
    <script>
        const Iznajmljivanje = {
            data(){
                return {
                    iznajmljivanje:[],
                    novaIznajmljivanja:{},
                    iznajmljivanjeZaIzmenu:{}
                }
            },
            methods:{
                setIznajmljivanjeZaIzmenu(iznajmiti){ //skladistenje nakon izmene//
                    this.iznajmljivanjeZaIzmenu = {...iznajmiti};
                },

                refreshData(){
                     //saljem this van funkcije da obuhvata sve//
                    axios.get("api/iznajmljivanje").then((response) => {
                        this.iznajmljivanje = response.data;
                    });
                },
                //dodavanje//
                create(){
                    axios.post("api/iznajmljivanje", this.novaIznajmljivanja).then((response) => {
                        this.refreshData();
                    });
                },
                //izmena//
                update(){
                    axios.put(`api/iznajmljivanje/${this.iznajmljivanjeZaIzmenu.IDIznajmljivanje}`, this.iznajmljivanjeZaIzmenu).then((response) => {
                        this.refreshData();
                    });
                },
                //brisanje//
                remove(IDIznajmljivanje){
                    axios.delete(`api/iznajmljivanje/${IDIznajmljivanje}`).then((response) => {
                        this.refreshData();
                    });
                }
            },
            created(){
                this.refreshData();
            }
        }
        Vue.createApp(Iznajmljivanje).mount("#app");
    </script>
</body>
</html>