<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
   
    <title>Knjiga</title>
     <!-- <vue> -->
    <script src="https://unpkg.com/vue@next"></script>

        <!-- <axios> -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
</head>
 <!-- Verzija sa componentama. -->
<body id="app">

    <knjiga-form v-on:sacuvaj="create" v-bind:naslov="'Dodaj knjigu'" v-bind:dugme="'Dodaj'"></knjiga-form>
    <knjiga-form v-bind:knjiga="knjigaZaIzmenu" v-bind:naslov="'Izmeni knjigu'" v-bind:dugme="'Izmeni'" v-on:sacuvaj="update"></knjiga-form>

    <tabela-knjiga v-bind:naslov="'Tabela knjiga'" v-bind:knjige="knjige" v-on:uklanjanje="remove" v-on:izmena="setKnjigaZaIzmenu"></tabela-knjiga>
  
    <script>
        const Knjiga = {
            data(){
                return {
                    knjige:[],
                    knjigaZaIzmenu:{}
                }
            },
            methods:{
                setKnjigaZaIzmenu(knjiga){ //skladistenje nakon izmene//
                    this.knjigaZaIzmenu = {...knjiga};
                },

                refreshData(){
                     //saljem this van funkcije da obuhvata sve//
                    axios.get("api/knjige").then((response) => {
                        this.knjige = response.data;
                    });
                },
                //dodavanje//
                create(knjiga){
                    axios.post("api/knjige", knjiga).then((response) => {
                        this.refreshData();
                    });
                },
                //izmena//
                update(knjiga){
                    axios.put(`api/knjige/${knjiga.IDKnjiga}`, knjiga).then((response) => {
                        this.refreshData();
                    });
                },
                //brisanje//
                remove(IDKnjiga){
                    axios.delete(`api/knjige/${IDKnjiga}`).then((response) => {
                        this.refreshData();
                    });
                }
            },
            created(){
                this.refreshData();
            }
        }

        const KnjigaForma = {
            props: ["knjiga", "dugme", "naslov"],
            emits : ["sacuvaj"],
            data(){
                return{
                    novaKnjiga: this.knjiga ? this.knjiga : {}
                }
            },
//izmena i setovanje izmene 1 nacin//
            // computed:{
            //     knjigaZaIzmenu: {
            //         get : function(){
            //             return {...this.knjiga};
            //         },
            //         set: function(novi){
            //             this.novaKnjiga = {...novi};
            //         }
            //     }
            // },

            watch: {
                knjiga: function(newValue, oldValue){
                    this.novaKnjiga = {...this.knjiga};
                }
                
            },
            template:  `
    <form v-on:submit.prevent="$emit('sacuvaj', {...novaKnjiga})">
        <h1>-{{naslov}}</h1>
        <div>
            <label>Naziv: </label>
            <input type="text" v-model="novaKnjiga.naziv" required></div>
        <div>
            <label>Autor: </label>
            <input type="text" v-model="novaKnjiga.autor" required></div>
        <div>
            <label>Kategorija: </label> 
            <input type="text" v-model="novaKnjiga.kategorija" required></div>
        <div>
            <label>Cena: </label> 
            <input type="number" v-model="novaKnjiga.cena" required></div>
        <div>
            <label>Stanje: </label> 
            <input type="text" v-model="novaKnjiga.stanje" value='"DA","NE"' required></div>
        <div>
            <label>Link: </label> 
            <input type="text" v-model="novaKnjiga.link" required></div>
        
        <div>
            <input type="submit" v-bind:value="dugme">
        </div>
    </form>
            `
        
        }

        const TabelaKnjiga = {
            props: ["knjige", "naslov"],
            emits:["izmena", "uklanjanje"],

            data(){
                return{}
            },
            template: `
    <h1>{{naslov}}</h1>
    <table>
        <thead>
            <tr>
                <th>ID-Knjiga</th>
                <th>Naziv</th>
                <th>Autor</th>
                <th>Kategorija</th>
                <th>Cena</th>
                <th>Stanje</th>
                <th>Link</th>
                <th>Akcije</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="knjiga in knjige">
                <td>{{knjiga.IDKnjiga}}</td>
                <td>{{knjiga.naziv}}</td>
                <td>{{knjiga.autor}}</td>
                <td>{{knjiga.kategorija}}</td>
                <td>{{knjiga.cena}}</td>
                <td>{{knjiga.stanje}}</td>
                <td><a href="#">{{knjiga.link}}</a></td>
                <td><button v-on:click="$emit('uklanjanje', knjiga.IDKnjiga)">Ukloni</button>
                    <button v-on:click="$emit('izmena', {...knjiga})">Izmena</button>
                </td>
            </tr>
        </tbody>
    </table>
            `
        }

        const app = Vue.createApp(Knjiga);
        app.component('tabela-knjiga', TabelaKnjiga);
        app.component('knjiga-form', KnjigaForma);

        app.mount("#app");
    </script>
</body>
</html>