<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
   
    <title>Knjiga</title>
     <!-- <vue> -->
    <script src="https://unpkg.com/vue@next"></script>

        <!-- <axios> -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
</head>

<body id="app">
    <form v-on:submit.prevent="create()">
        <h1>-Dodaj knjigu</h1>
        <div>
            <label>Naziv: </label>
            <input type="text" v-model="novaKnjiga.naziv" required></div>
        <div>
            <label>Autor: </label>
            <input type="text" v-model="novaKnjiga.autor" required></div>
        <div>
            <label>Kategorija: </label>
            <input type="text" v-model="novaKnjiga.kategorija" required></div>
        <div>
            <label>Cena: </label>
            <input type="text" v-model="novaKnjiga.cena" required>
        </div>
        <div>
            <label>Stanje: </label>
            <input type="text" v-model="novaKnjiga.stanje" value='"DA", "NE"' required>
        </div>
        <div>
            <label>Link: </label>
            <input type="text" v-model="novaKnjiga.link" required>
        </div>
        <div>
            <input type="submit" value="Dodaj">
        </div>
    </form>
    <hr>
    <form v-on:submit.prevent="update()">
        <h1>-Izmena knjige</h1>
        <div>
            <label>Naziv: </label>
            <input type="text" v-model="knjigaZaIzmenu.naziv" required></div>
        <div>
            <label>Autor: </label>
            <input type="text" v-model="knjigaZaIzmenu.autor" required></div>
        <div>
            <label>Kategorija: </label>
            <input type="text" v-model="knjigaZaIzmenu.kategorija" required></div>
        <div>
            <label>Cena: </label>
            <input type="text" v-model="knjigaZaIzmenu.cena" required>
        </div>
        <div>
            <label>Stanje: </label>
            <input type="text" v-model="knjigaZaIzmenu.stanje" value='"DA", "NE"' required>
        </div>
        <div>
            <label>Link: </label>
            <input type="text" v-model="knjigaZaIzmenu.link" required>
        </div>
        <div>
            <input type="submit" value="Izmeni">
        </div>
    </form>
    <hr>
    <table>
        <thead>
            <tr>
                <th>ID-Knjiga</th>
                <th>Naziv</th>
                <th>Autor</th>
                <th>Kategorija</th>
                <th>Cena</th>
                <th>Stanje</th>
                <th>Link</th>
                <th>Akcije</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="knjiga in knjige">
                <td>{{knjiga.IDKnjiga}}</td>
                <td>{{knjiga.naziv}}</td>
                <td>{{knjiga.autor}}</td>
                <td>{{knjiga.kategorija}}</td>
                <td>{{knjiga.cena}}</td>
                <td>{{knjiga.stanje}}</td>
                <td><a href="{{knjiga.IDKnjiga}}">{{knjiga.link}}</a></td>
                <td><button v-on:click="remove(knjiga.IDKnjiga)">Ukloni</button>
                    <button v-on:click="setKnjigaZaIzmenu(knjiga)">Izmena</button>
                </td>
            </tr>
        </tbody>
    </table>
    <script>
        const Knjiga = {
            data(){
                return {
                    knjige:[],
                    novaKnjiga:{},
                    knjigaZaIzmenu:{}
                }
            },
            methods:{
                setKnjigaZaIzmenu(knjiga){ //skladistenje nakon izmene//
                    this.knjigaZaIzmenu = {...knjiga};
                },

                refreshData(){
                     //saljem this van funkcije da obuhvata sve//
                    axios.get("api/knjige").then((response) => {
                        this.knjige = response.data;
                    });
                },
                //dodavanje//
                create(){
                    axios.post("api/knjige", this.novaKnjiga).then((response) => {
                        this.refreshData();
                    });
                },
                //izmena//
                update(){
                    axios.put(`api/knjige/${this.knjigaZaIzmenu.IDKnjiga}`, this.knjigaZaIzmenu).then((response) => {
                        this.refreshData();
                    });
                },
                //brisanje//
                remove(IDKnjiga){
                    axios.delete(`api/knjige/${IDKnjiga}`).then((response) => {
                        this.refreshData();
                    });
                }
            },
            created(){
                this.refreshData();
            }
        }
        Vue.createApp(Knjiga).mount("#app");
    </script>
</body>
</html>