<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
   
    <title>Kupac</title>
     <!-- <vue> -->
    <script src="https://unpkg.com/vue@next"></script>

        <!-- <axios> -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
</head>
 <!-- Verzija sa componentama. -->
<body id="app">

    <kupac-form v-on:sacuvaj="create" v-bind:naslov="'Dodaj kupca'" v-bind:dugme="'Dodaj'"></kupac-form>
    <kupac-form v-bind:kupac="kupacZaIzmenu" v-bind:naslov="'Izmeni kupca'" v-bind:dugme="'Izmeni'" v-on:sacuvaj="update"></kupac-form>

    <tabela-kupca v-bind:naslov="'Tabela kupca'" v-bind:kupci="kupci" v-on:uklanjanje="remove" v-on:izmena="setKupacZaIzmenu"></tabela-kupca>
  
    <script>
        const Kupac = {
            data(){
                return {
                    kupci:[],
                    kupacZaIzmenu:{}
                }
            },
            methods:{
                setKupacZaIzmenu(kupac){ //skladistenje nakon izmene//
                    this.kupacZaIzmenu = {...kupac};
                },

                refreshData(){
                     //saljem this van funkcije da obuhvata sve//
                    axios.get("api/kupci").then((response) => {
                        this.kupci = response.data;
                    });
                },
                //dodavanje//
                create(kupac){
                    axios.post("api/kupci", kupac).then((response) => {
                        this.refreshData();
                    });
                },
                //izmena//
                update(kupac){
                    axios.put(`api/kupci/${kupac.IDKupac}`, kupac).then((response) => {
                        this.refreshData();
                    });
                },
                //brisanje//
                remove(IDKupac){
                    axios.delete(`api/kupci/${IDKupac}`).then((response) => {
                        this.refreshData();
                    });
                }
            },
            created(){
                this.refreshData();
            }
        }

        const KupacForma = {
            props: ["kupac", "dugme", "naslov"],
            emits : ["sacuvaj"],
            data(){
                return{
                    noviKupac: this.kupac ? this.kupac : {}
                }
            },
//izmena i setovanje izmene 1 nacin//
            // computed:{
            //     kupacZaIzmenu: {
            //         get : function(){
            //             return {...this.kupac};
            //         },
            //         set: function(novi){
            //             this.noviKupac = {...novi};
            //         }
            //     }
            // },

            watch: {
                kupac: function(newValue, oldValue){
                    this.noviKupac = {...this.kupac};
                }
                
            },
            template:  `
    <form v-on:submit.prevent="$emit('sacuvaj', {...noviKupac})">
        <h1>-{{naslov}}</h1>
        <div>
            <label>Ime: </label>
            <input type="text" v-model="noviKupac.ime" required></div>
        <div>
            <label>Prezime: </label>
            <input type="text" v-model="noviKupac.prezime" required></div>
        <div>
            <label>Datum rodjenja: </label> 
            <input type="date" v-model="noviKupac.datumRodjenja" required></div>
        <div>
            <label>E-mail: </label> 
            <input type="email" v-model="noviKupac.email" required></div>
        <div>
            <label>Telefon: </label> 
            <input type="text" v-model="noviKupac.telefon" required></div>
        <div>
            <label>Mesto: </label> 
            <input type="text" v-model="noviKupac.mesto" required></div>
        <div>
            <label>Adresa: </label> 
            <input type="text" v-model="noviKupac.adresa" required></div>
        <div>
            <input type="submit" v-bind:value="dugme">
        </div>
    </form>
            `
        
        }

        const TabelaKupca = {
            props: ["kupci", "naslov"],
            emits:["izmena", "uklanjanje"],

            data(){
                return{}
            },
            template: `
    <h1>{{naslov}}</h1>
    <table>
        <thead>
            <tr>
                <th>ID-Kupac</th>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Datum rodjenja</th>
                <th>E-mail</th>
                <th>Telefon</th>
                <th>Mesto</th>
                <th>Adresa</th>
                <th>Akcije</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="kupac in kupci">
                <td>{{kupac.IDKupac}}</td>
                <td>{{kupac.ime}}</td>
                <td>{{kupac.prezime}}</td>
                <td>{{kupac.datumRodjenja}}</td>
                <td>{{kupac.email}}</td>
                <td>{{kupac.telefon}}</td>
                <td>{{kupac.mesto}}</td>
                <td>{{kupac.adresa}}</td>
                <td><button v-on:click="$emit('uklanjanje', kupac.IDKupac)">Ukloni</button>
                    <button v-on:click="$emit('izmena', {...kupac})">Izmena</button>
                </td>
            </tr>
        </tbody>
    </table>
            `
        }

        const app = Vue.createApp(Kupac);
        app.component('tabela-kupca', TabelaKupca);
        app.component('kupac-form', KupacForma);

        app.mount("#app");
    </script>
</body>
</html>