<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
   
    <title>Porudzbina</title>
     <!-- <vue> -->
    <script src="https://unpkg.com/vue@next"></script>

        <!-- <axios> -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
</head>
 <!-- Verzija sa componentama. -->
<body id="app">

    <porudzbina-form v-on:sacuvaj="create" v-bind:naslov="'Dodaj porudzbinu'" v-bind:dugme="'Dodaj'"></porudzbina-form>
    <porudzbina-form v-bind:poruceno="porudzbinaZaIzmenu" v-bind:naslov="'Izmeni porudzbinu'" v-bind:dugme="'Izmeni'" v-on:sacuvaj="update"></porudzbina-form>

    <tabela-porudzbine v-bind:naslov="'Tabela porudzbine'" v-bind:porudzbina="porudzbina" v-on:uklanjanje="remove" v-on:izmena="setPorudzbinaZaIzmenu"></tabela-porudzbine>
  
    <script>
        const Porudzbina = {
            data(){
                return {
                    porudzbina:[],
                    porudzbinaZaIzmenu:{}
                }
            },
            methods:{
                setPorudzbinaZaIzmenu(poruceno){ //skladistenje nakon izmene//
                    this.porudzbinaZaIzmenu = {...poruceno};
                },

                refreshData(){
                     //saljem this van funkcije da obuhvata sve//
                    axios.get("api/porudzbine").then((response) => {
                        this.porudzbina = response.data;
                    });
                },
                //dodavanje//
                create(poruceno){
                    axios.post("api/porudzbine", poruceno).then((response) => {
                        this.refreshData();
                    });
                },
                //izmena//
                update(poruceno){
                    axios.put(`api/porudzbine/${poruceno.IDPorudzbina}`, poruceno).then((response) => {
                        this.refreshData();
                    });
                },
                //brisanje//
                remove(IDPorudzbina){
                    axios.delete(`api/porudzbine/${IDPorudzbina}`).then((response) => {
                        this.refreshData();
                    });
                }
            },
            created(){
                this.refreshData();
            }
        }

        const PorudzbinaForma = {
            props: ["poruceno", "dugme", "naslov"],
            emits : ["sacuvaj"],
            data(){
                return{
                    novaPorudzbina: this.poruceno ? this.poruceno : {}
                }
            },
//izmena i setovanje izmene 1 nacin//
            // computed:{
            //     porudzbinaZaIzmenu: {
            //         get : function(){
            //             return {...this.poruceno};
            //         },
            //         set: function(novi){
            //             this.novaPorudzbina = {...novi};
            //         }
            //     }
            // },

            watch: {
                poruceno: function(newValue, oldValue){
                    this.novaPorudzbina = {...this.poruceno};
                }
                
            },
            template:  `
    <form v-on:submit.prevent="$emit('sacuvaj', {...novaPorudzbina})">
        <h1>-{{naslov}}</h1>
        <div>
            <label>ID-Knjiga: </label>
            <input type="number" v-model="novaPorudzbina.IDKnjiga" required></div>
        <div>
            <label>ID-Kupac: </label>
            <input type="number" v-model="novaPorudzbina.IDKupac" required></div>
        <div>
            <label>Kolicina: </label> 
            <input type="number" v-model="novaPorudzbina.kolicina" required></div>
        <div>
            <label>Nacin placanja: </label> 
            <input type="text" v-model="novaPorudzbina.nacinPlacanja" required></div>
        <div>
            <label>Valuta: </label> 
            <input type="text" v-model="novaPorudzbina.valuta" required></div>
      
        <div>
            <label>Datum porudzbine: </label> 
            <input type="date" v-model="novaPorudzbina.datumPorudzbine" required></div>
        
        <div>
            <input type="submit" v-bind:value="dugme">
        </div>
    </form>
            `
        
        }

        const TabelaPorudzbine = {
            props: ["porudzbina", "naslov"],
            emits:["izmena", "uklanjanje"],

            data(){
                return{}
            },
            template: `
    <h1>{{naslov}}</h1>
    <table>
        <thead>
            <tr>
                <th>ID-Porudzbina</th>
                <th>ID-Knjiga</th>
                <th>ID-Kupac</th>
                <th>Kolicina</th>
                <th>Nacin placanja</th>
                <th>Valuta</th>
                <th>Datum porudzbine</th>
                <th>Akcije</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="poruceno in porudzbina">
                <td>{{poruceno.IDPorudzbina}}</td>
                <td>{{poruceno.IDKnjiga}}</td>
                <td>{{poruceno.IDKupac}}</td>
                <td>{{poruceno.kolicina}}</td>
                <td>{{poruceno.nacinPlacanja}}</td>
                <td>{{poruceno.valuta}}</td>
                <td>{{poruceno.datumPorudzbine}}</td>
                <td><button v-on:click="$emit('uklanjanje', poruceno.IDPorudzbina)">Ukloni</button>
                    <button v-on:click="$emit('izmena', {...poruceno})">Izmena</button>
                </td>
            </tr>
        </tbody>
    </table>
            `
        }

        const app = Vue.createApp(Porudzbina);
        app.component('tabela-porudzbine', TabelaPorudzbine);
        app.component('porudzbina-form', PorudzbinaForma);

        app.mount("#app");
    </script>
</body>
</html>