table, th, td, tr {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
  
}
tr:nth-child(even){
    background-color: gray;
}
button{
    margin-left: 20px;
}
label, input{
    margin-left: 10px;
}
#boja{
    color: white;
}
.container{
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000;
}

.bg{
    background: url('./pictures/polica1.jpg');
}
.bgPage{
    background-color:lavender;
}
h2{
    text-align: center;
    color: whitesmoke
}