<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>      
    <h2>-Formular izmene-</h2>                          
    <form action="/izmenaRadnika?id={{radnik.id}}" method="POST">
        
        <div>
            <label for="ime">Ime</label>
            <input name="ime" id="ime" type="text" value="{{radnik.ime}}" required />
        </div>
        <div>
            <label for="prezime">Prezime</label>
            <input name="prezime" id="prezime" type="text" value={{radnik.prezime}} required />
        </div>
        <div>
            <label for="email">E-mail</label>
            <input name="email" id="email" type="email" value={{radnik.email}} required />
        </div>
        <div>
            <input type="submit" value="Izmeni">
        </div>
    </form>
</body>

</html