<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Dodaj nastavnika</title>
</head>

<body>
    <h2>-Popuni formular-</h2>
    <form action="/izmenaSkole?id={{skola.id}}" method="POST">
        <div>
            <label for="ime_skole">Ime skole:</label>
            <input name="ime_skole" id="ime_skole" type="text" value="{{skola.ime_skole}}" required />
        </div>
        <div>
            <label for="adresa">Adresa:</label>
            <input name="adresa" id="adresa" type="text" value="{{skola.adresa}}" required />
        </div>
        <div>
            <label>ID Nastavnika:</label>
            <select name="nastavnik_licni_id">
                {% for n in nastavnik %}
                <option value="{{n["licni_id"]}}">{{n["ime"]}}, {{n["prezime"]}}, {{n["email"]}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label>ID Predmeta:</label>
            <select name="predmet_id">
                {% for p in predmet %}
                <option value="{{p["id"]}}">{{p["ime_predmeta"]}}, Razred:{{p["razred"]}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <input type="submit" value="Dodaj">
        </div>
    </form>
</body>

</html>