<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Predmet-tabela</title>
</head>
<h2>-Predmet-</h2>
<body>
    <a href="/dodajPredmetForma.html">Unos predmeta</a>
    <table>
        <tr>
        
            <th>Id</th>
            <th>Ime predmeta</th>
            <th>Razred</th>
            <th>Akcije</th>
        </tr>
        {% for p in predmet %}
        <tr>
            <td><a href="predmet?id={{p.id}}">{{p["id"]}}</a></td>
            
            <td>{{p.ime_predmeta}}</td>
            <td>{{p.razred}}</td>
            <td>
                <a href="ukloniPredmet?id={{p.id}}">Ukloni</a>
                <a href="izmeniPredmet?id={{p.id}}">Izmeni</a>
            </td>
        </tr>
        {% endfor %}
        </tr>
    </table>
</body>
</html>