<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<h2>-Skola-</h2>
<body>
    <a href="/dodajSkoluForma.html">Unos nastavnika</a>
    <table>
        <tr>
        
            <th>Id</th>
            <th>Ime skole</th>
            <th>Adresa</th>
            <th>Id - nastavnik</th>
            <th>Id - predmet</th>
            <th>Akcije</th>
        </tr>
        {% for s in skola %}
        <tr>
            <td><a href="skola?id={{s.id}}">{{s["id"]}}</a></td>
            
            <td>{{s.ime_skole}}</td>
            <td>{{s.adresa}}</td>
            <td>{{s.nastavnik_licni_id}}</td>
            <td>{{s.predmet_id}}</td>
            <td>
                <a href="ukloniSkolu?id={{s.id}}">Ukloni</a>
                <a href="izmenaSkole?id={{s.id}}">Izmeni</a>
            </td>
        </tr>
        {% endfor %}
        </tr>
    </table>
</body>
</html>