<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
   
    <title>Bioskop</title>
     <!-- <vue> -->
    <script src="https://unpkg.com/vue@next"></script>

        <!-- <axios> -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
</head>

<body id="app">
    <div>
        <button v-on:click="navigate('karte')">Karta</button>
        <button v-on:click="navigate('blagajna')">Blagajna</button>
    </div>
    <div v-if="stranicaZaPrikaz=='karte'">
        <karta-form v-bind:naslov="'Dodaj kartu'" v-bind:dugme="'Dodaj'" v-on:sacuvaj="createKarta"></karta-form>
        <karta-form v-bind:naslov="'Izmeni kartu'" v-bind:dugme="'Izmeni'" v-bind:karta="kartaZaIzmenu" v-on:sacuvaj="updateKarta"></karta-form>

        <tabela-karte v-bind:bioskop="bioskop" v-on:uklanjanje="removeKarta" v-on:izmena="setKartaZaIzmenu"></tabela-karte>
    </div>

    <div v-if="stranicaZaPrikaz=='blagajna'">
        <blagajna-form v-bind:naslov="'Dodaj u blagajnu'" v-bind:dugme="'Dodaj'" v-bind:bioskop="bioskop" v-on:sacuvaj="createBlagajna"></blagajna-form>
        <blagajna-form v-bind:naslov="'Izmeni blagajnu'" v-bind:dugme="'Izmeni'" v-bind:bioskop="bioskop" v-bind:blagajna="blagajnaZaIzmenu" v-on:sacuvaj="updateBlagajna"></blagajna-form>

        <tabela-blagajne v-bind:blagajne="blagajne" v-on:uklanjanje="removeBlagajna" v-on:izmena="setBlagajnaZaIzmenu"></tabela-blagajne>
    </div>

    <script src="app/app.js" type="module"></script>
</body>
</html>