<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
   
    <title>Nastavnik</title>
     <!-- <vue> -->
    <script src="https://unpkg.com/vue@next"></script>

        <!-- <axios> -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
</head>

<body id="app">
    <form v-on:submit.prevent="create()">
        <h1>-Dodaj nastavnika</h1>
        <div>
            <!-- <p>Nije AI pa mora i id da pisemo</p> -->
            <label>Licni ID: </label>
            <input type="number" v-model="noviNastavnik.licni_id" required></div>
        <div>
            <label>Ime: </label>
            <input type="text" v-model="noviNastavnik.ime" required></div>
        <div>
            <label>Prezime: </label>
            <input type="text" v-model="noviNastavnik.prezime" required></div>
        <div>
            <label>E-mail: </label>
            <input type="email" v-model="noviNastavnik.email" required></div>
            <div>
                <label>Broj telefona: </label>
                <input type="number" v-model="noviNastavnik.br_telefona" required></div>
        <div>
            <input type="submit" value="Dodaj">
        </div>
    </form>
    <hr>
    <form v-on:submit.prevent="update()">
        <h1>-Izmeni nastavnika</h1>
        <div>
            <!-- <p>Nije AI pa mora i id da pisemo</p> -->
            <label>Licni ID: </label>
            <input type="number" v-model="nastavnikZaIzmenu.licni_id" required></div>
        <div>
            <label>Ime: </label>
            <input type="text" v-model="nastavnikZaIzmenu.ime" required></div>
        <div>
            <label>Prezime: </label>
            <input type="text" v-model="nastavnikZaIzmenu.prezime" required></div>
        <div>
            <label>E-mail: </label>
            <input type="email" v-model="nastavnikZaIzmenu.email" required></div>
        <div>
            <label>Broj telefona: </label>
            <input type="number" v-model="nastavnikZaIzmenu.br_telefona" required></div>
        <div>
            <input type="submit" value="Izmeni">
        </div>
    </form>
    <hr>
    <table>
        <thead>
            <tr>
                <th>Licni ID</th>
                <th>Ime</th>
                <th>Prezime</th>
                <th>E-mail</th>
                <th>Broj telefona</th>
                <th>Akcije</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="nastavnik in nastavnici">
                <td>{{nastavnik.licni_id}}</td>
                <td>{{nastavnik.ime}}</td>
                <td>{{nastavnik.prezime}}</td>
                <td>{{nastavnik.email}}</td>
                <td>{{nastavnik.br_telefona}}</td>
                <td><button v-on:click="remove(nastavnik.licni_id)">Ukloni</button>
                    <button v-on:click="setNastavnikZaIzmenu(nastavnik)">Izmena</button>
                </td>
            </tr>
        </tbody>
    </table>
    <script>
        const Nastavnik = {
            data(){
                return {
                    nastavnici:[],
                    noviNastavnik:{},
                    nastavnikZaIzmenu:{}
                }
            },
            methods:{
                setNastavnikZaIzmenu(nastavnik){ //skladistenje nakon izmene//
                    this.nastavnikZaIzmenu = {...nastavnik};
                },

                refreshData(){
                     //saljem this van funkcije da obuhvata sve//
                    axios.get("api/nastavnici").then((response) => {
                        this.nastavnici = response.data;
                    });
                },
                //dodavanje//
                create(){
                    axios.post("api/nastavnici", this.noviNastavnik).then((response) => {
                        this.refreshData();
                    });
                },
                //izmena//
                update(){
                    axios.put(`api/nastavnici/${this.nastavnikZaIzmenu.licni_id}`, this.nastavnikZaIzmenu).then((response) => {
                        this.refreshData();
                    });
                },
                //brisanje//
                remove(licni_id){
                    axios.delete(`api/nastavnici/${licni_id}`).then((response) => {
                        this.refreshData();
                    });
                }
            },
            created(){
                this.refreshData();
            }
        }
        Vue.createApp(Nastavnik).mount("#app");
    </script>
</body>
</html>