<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
   
    <title>Skola</title>
     <!-- <vue> -->
    <script src="https://unpkg.com/vue@next"></script>

        <!-- <axios> -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
</head>

<body id="app">
    <form v-on:submit.prevent="create()">
        <h1>-Dodaj skolu</h1>
        <div>
            <label>Id: </label>
            <input type="number" v-model="novaSkola.id" required />
        </div>
        <div>
            <label>Ime skole: </label>
            <input type="text" v-model="novaSkola.ime_skole" required />
        </div>
        <div>
            <label>Adresa: </label>
            <input type="text" v-model="novaSkola.adresa" required />
        </div>
        <div>
            <label>ID - nastavnik: </label>
            <input type="number" v-model="novaSkola.nastavnik_licni_id" required />
        </div>
        <div>
            <label>ID - predmet: </label>
            <input type="text" v-model="novaSkola.predmet_id" required />
        </div>
        <div>
            <input type="submit" value="Dodaj">
        </div>
    </form>
    <hr>
    <form v-on:submit.prevent="update()">
        <h1>-Izmeni skolu</h1>
        <div>
            <label>Id: </label>
            <input type="number" v-model="skolaZaIzmenu.id" required />
        </div>
        <div>
            <label>Ime skole: </label>
            <input type="text" v-model="skolaZaIzmenu.ime_skole" required />
        </div>
        <div>
            <label>Adresa: </label>
            <input type="text" v-model="skolaZaIzmenu.adresa" required />
        </div>
        <div>
            <label>ID - nastavnik: </label>
            <input type="number" v-model="skolaZaIzmenu.nastavnik_licni_id" required />
        </div>
        <div>
            <label>ID - predmet: </label>
            <input type="text" v-model="skolaZaIzmenu.predmet_id" required />
        </div>
        <div>
            <input type="submit" value="Izmeni">
        </div>
    </form>
    <hr>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Ime skole</th>
                <th>Adresa</th>
                <th>ID - nastavnik</th>
                <th>ID- predmet</th>
                <th>Akcije</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="skola in skole">
                <td>{{skola.id}}</td>
                <td>{{skola.ime_skole}}</td>
                <td>{{skola.adresa}}</td>
                <td>{{skola.nastavnik_licni_id}}</td>
                <td>{{skola.predmet_id}}</td>
                <td><button v-on:click="remove(skola.id)">Ukloni</button>
                    <button v-on:click="setSkolaZaIzmenu(skola)">Izmena</button>
                </td>
            </tr>
        </tbody>
    </table>
    <script>
        const Skola = {
            data(){
                return {
                    skole:[],
                    novaSkola:{},
                    skolaZaIzmenu:{}
                }
            },
            methods:{
                setSkolaZaIzmenu(skola){ //skladistenje nakon izmene//
                    this.skolaZaIzmenu = {...skola};
                },

                refreshData(){
                     //saljem this van funkcije da obuhvata sve//
                    axios.get("api/skole").then((response) => {
                        this.skole = response.data;
                    });
                },
                //dodavanje//
                create(){
                    axios.post("api/skole", this.novaSkola).then((response) => {
                        this.refreshData();
                    });
                },
                //izmena//
                update(){
                    axios.put(`api/skole/${this.skolaZaIzmenu.id}`, this.skolaZaIzmenu).then((response) => {
                        this.refreshData();
                    });
                },
                //brisanje//
                remove(id){
                    axios.delete(`api/skole/${id}`).then((response) => {
                        this.refreshData();
                    });
                }
            },
            created(){
                this.refreshData();
            }
        }
        Vue.createApp(Skola).mount("#app");
    </script>
</body>
</html>