<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Nike-tabela</title>
</head>
<body>
    <h2>NIKE SHOP</h2>
    <a href="/dodajNike.html">Unos artikla</a>
    <table>
        <tr>
        
            <th>Id</th>
            <th>Odeca</th>
            <th>Obuca</th>
            <th>Velicina</th>
            <th>Akcije</th>
        </tr>
        {% for n in nike %}
        <tr>
            <td>{{n["id"]}}</td>
            
            <td>{{n.odeca}}</td>
            <td>{{n.obuca}}</td>
            <td>{{n.velicina}}</td>
            <td>
                <a href="ukloniArtikle?id={{n.id}}">Ukloni</a>
                <a href="izmenaArtikala?id={{n.id}}">Izmeni</a>
            </td>
        </tr>
        {% endfor %}
        </tr>
    </table>
</body>
</html>