table, th, td, tr {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
  
}
tr:nth-child(even){
    background-color: gray;
}
button{
    margin-left: 20px;
}

label, input{
    margin-left: 10px;
}
#boja{
    color: rgba(145, 145, 7, 0.61);
}
.container{
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000;
}
.bgPage{
    background-color:rgb(118, 223, 118);
}
#boja2{
    background-color:rgb(36, 83, 36);
    color: white;
}
h2{
    text-align: center;
    color: rgb(36, 83, 36);
}
#boja3{
    background-color: aquamarine;
    
}
#boja4{
    background-color: rgb(36, 83, 36);
}
