<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Prijava-tabela</title>
</head>
<body>
    <a href="/dodajPrijavu.html">Unesi Prijavu</a>
    <table>
        <tr>
        
            <th>Id</th>
            <th>Oznaka korisnika</th>
    
            <th>Akcije</th>
        </tr>
        {% for p in prijava %}
        <tr>
            <td>{{p.id}}</td>
            <td>{{p.korisnik_oznaka}}</td>
            
            <td>
                <a href="ukloniPrijavu?id={{p.id}}">Ukloni</a>
                <a href="izmenaPrijave?id={{p.id}}">Izmeni</a>
            </td>
        </tr>
        {% endfor %}
        </tr>
    </table>
</body>
</html>